/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* debug */
    /* border: 1px solid black; */
}

img {
    max-width: 100%;
}

/* UTILITIES */
:root {
    --btn-blue: #0061FF;
    --bghero-lightblue: #B4D0E7;
    --sect6title-col: #61082B;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

li {
    list-style-type: none;
}


.container-big {
    width: 70%;
    margin: 0 auto;
    max-width: 840px;
}

.container-small {
    width: 60%;
    margin: 0 auto;
    max-width: 740px;
}

.col-60 {
    width: 60%;
    /* debug */
    /* height: 100%; */
    /* background-color: rgb(149, 216, 216); */
} 

.col-40 {
    width: 38%;
    /* debug */
    /* height: 100%; */
    /* background-color: rgb(156, 208, 173); */
} 

.col-container {
    padding: 1.25rem;
    width: 100%;
}

.col-container span {
    display: inline-block;
    margin: .6rem 0;
}

.col-container h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.col-container i {
    margin-right: .3rem;
}

.btn-blue {
    background-color: var(--btn-blue);
    color: white;
    padding: .3rem .6rem;
    font-size: .8rem;
}

.btn-blue:hover {
    filter: brightness(1.1);
}

.btn-white {
    background-color: white;
    padding: .4rem 1.2rem;
    font-size: .7rem;
}

.btn-white:hover {
    filter: brightness(1.2);
}

.fa-check {
    color: blue;
}

.buy-now {
    text-decoration: underline;
    color: blue;
}

#month {
    display: block;
    color: grey;
    margin-bottom: 2.5rem;
}

.flex-container {
    display: flex;
}

.column-direction {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.wrapper {
    flex-wrap: wrap;
}

/* HEADER */
header {
    height: 60px;
    font-size: .7rem;
    font-weight: 600;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
    /* debug */
    /* background-color: aquamarine; */
}

header ul {
    line-height: 62px;
    vertical-align: middle;
    margin-left: 1rem;
    gap: 1rem;
}

.logo a {
    line-height: 60px;
}

.logo img {
    vertical-align: middle;
}

.logo {
    width: 8%;
}

.actions-1 {
    flex-grow: 1;
}

.actions-2 {
    width: 30%;
    text-align: right;
}

.actions-2 .btn-blue {
    display: inline;
}

header li {
    height: 60px;
    
}

header li:hover {
    border-bottom: 2px solid lightgrey;
    transition: all 5s linear;
}

/* HERO */
.hero {
    background-color: var(--bghero-lightblue);
    margin-top: 60px;
    /* debug */
    /* height: 500px; */
}

.title-big {
    width: 100%;
    font-size: 1.7rem;
    font-weight: 800;
    padding-top: 3rem;
    line-height: 4.5rem;
    margin-bottom: 1.5rem;
    /* debug */
    /* height: 44%; */
    /* background-color: rgb(202, 132, 132); */
}

.text {
    width: 32%;
    font-size: .7rem;
    display: inline-block;
    /* debug */
    /* height: 56%; */
    /* background-color: rgb(102, 205, 102); */
}

.text p {
    margin-bottom: 2rem;
}

.text a {
    padding: .5rem .7rem;
}
 
.text span {
    display: block;
    margin-top: 2.2rem;
}

.text i {
    font-size: 2rem;
    margin: 1rem 0;
}

.image {
    width: 64%;
    display: block;
    position: relative;
    /* debug */
    /* height: 56%;
    background-color: rgb(115, 115, 212); */
}

.image img {
    position: absolute;
    top: 2.3rem;
    right: -2.8rem;
    scale: 1.25;
}


/* MAIN */
/* SECTION-1 */
.section-1 {
    width: 100%;
    align-content: space-between;
    /* debug */
    margin-top: 60px;
    height: 1080px;
    /* background-color: antiquewhite; */
}

.section-1 .row-title, .row {
    width: 100%;
    /* debug */
    /* background-color: rgb(94, 94, 162); */
}

.section-1 .row-title {
    font-size: 1.2rem;
    margin: 2rem 0;
    /* debug */
    /* height: 10%; */
}

.section-1 .row-title h2 {
    margin-bottom: 2rem;
}

.section-1 .row-title span {
    margin: 0 1.2rem 0 .4rem;
}

.section-1 .row {
    width: 100%;
    font-size: .7rem;
    border: 1px solid rgb(156, 156, 156);
    /* debug */
    /* height: 20%; */
}

.section-1 .col {
    width: 31%;
    flex-grow: 1;
    font-size: .7rem;
    border: 1px solid rgb(156, 156, 156);
    /* debug */
    /* height: 70%; */
    /* background-color: rgb(170, 198, 128); */
}

.section-1 .col .col-title, .section-1 .row .col-title {
    width: 100%;
    border-bottom: 1px solid rgb(156, 156, 156);
    padding: .5rem 1.5rem;
    text-align: center;   
}

.section-1 .col .col-title i {
    padding: 0 .4rem;
}

.col-text {
    width: 80%;
    display: inline-block;
}

.icons {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}

.col-container .btn-blue {
    padding: .6rem .6rem;
    margin: 2rem 0 1rem 0;
    width: 100%;
    text-align: center;
}

.col-container hr {
    color: grey;
    width: 25%;
    margin: 2rem 0;
}

.col-container h4 {
    margin-bottom: 1.2rem;
}

.row .col-container .btn-blue {
    margin: 1.5rem 0 1rem 0;
}

.row {
    margin: 1.5rem 0 3rem 0;
}

.row i {
    margin-right: .3rem;
}

/* SECTION-2 */
.section-2 {
    width: 100%;
    margin-top: 17rem;
    /* debug */
    /* margin-top: 160px; */
    /* height: 330px; */
    /* background-color: rgb(215, 151, 67); */
    /* border: 1px solid black; */
}

.section-2 .col-container {
    text-align: left;
}

.caption {
    font-size: .7rem;
    margin: 1rem 0;
    text-align: left;
}

.btn-white {
    border: 1px solid black;
}

/* SECTION-3 */
.section-3 {
    width: 100%;
    margin-top: 5rem;
    /* debug */
    /* height: 900px;
    background-color: rgb(123, 205, 91); */
}

.section3-title {
    width: 100%;
    margin: 1.5rem 0 1.5rem;
    /* debug */
    /* height: 70px;
    background-color: bisque; */
}

.section-3 .card {
    width: 31%;
    /* debug */
    /* height: 44%;
    background-color: rgb(132, 115, 148); */
}

/* SECTION-4 */
.section-4 {
    width: 100%;
    margin-top: 5rem;
    /* debug */
    /* height: 120px;
    background-color: rgb(98, 89, 165); */
}

.section-4 a {
    margin: 2rem 0;
    font-size: .7rem;
}

/* SECTION-5 */
.section-5 {
    width: 100%;
    gap: 0;
    margin: 5rem 0 0 0;
    /* debug */
    /* height: 380px;
    background-color: rgb(235, 125, 129); */
}

.section-5 .col {
    width: calc(100% / 3);
    /* debug */
    /* height: 100%;
    background-color: rgb(175, 175, 231); */
}

.logos {
    width: 50%;
    aspect-ratio: 1/1;
    position: relative;
    /* debug */
    /* border: 1px solid black; */
}

.logos img {
    position: absolute;
    scale: 0.5;
    top: 50%;
    transform: translateY(-100%);
    filter: invert();
}

.logo-1 {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.logo-2 {
    background-color: #61082B;
}

.logo-3 {
    background-color: #0093CE;
}

.logo-4 {
    background-color: #FF1C1C;
}

.logo-5 {
    background-color: #D5001F;
}

.logo-6 {
    background-color: #B4D0E7;
}

.logo-7 {
    background-color: #0D2481;
}

.logo-8 {
    background-color: #FFD830;
}

.presentation {
    background-color: #F5F5F5;
}

/* .presentation {
    position: relative;
    height: 100%;
    width: 100%;
} */

/* .presentation-img {
    scale: 0.5;
    position: absolute;
    left: 0;
    top: 0;
} */


.presentation hr {
    color: grey;
    width: 20%;
    margin: 8rem 0 2rem 0;
}

.presentation p, span {
    font-size: .7rem;
    margin-bottom: 1.5rem;
}



/* SECTION-6 */
.section-6 {
    width: 100%;
    background-color: var(--bghero-lightblue);
    padding: 4.5rem 0;
    /* debug */
    /* height: 220px; */
    /* background-color: rgb(121, 216, 116); */
}

.section-6 h2 {
    color: var(--sect6title-col);
    vertical-align: middle;
}

.section-6 .btn-white {
    border: none;
    vertical-align: middle;
    margin-left: 4rem;
}

/* SECTION-7 */
.section-7 {
    width: 100%;
    margin: 60px 0;
    /* debug */
    /* height: 260px; */
    /* background-color: rgb(112, 172, 185); */
}

.features li {
    font-size: .7rem;
    font-weight: 800;
    margin-top: 2rem;
    padding-top: 1.8rem;
    border-top: 1.5px solid lightgrey;
}

.feature-text {
    display: inline-block;
    width: 70%;
}

.feature-icon {
    text-align: right;
    display: inline-block;
    width: 28%;
}

.after {
    margin-top: 1.5rem;
    font-weight: 100;
    display: none;
}

.feature-icon button {
    border: none;
    background-color: inherit;
    cursor: pointer
}
 
.features-1:active button {
    rotate: 180deg;
}

.features-1:active .after-1 {
    display: block;
}

.fa-angle-down:active .after-1 {
    display: none;
}

.features-2:active button {
    rotate: 180deg;
}

.features-2:active .after-2 {
    display: block;
}

.fa-angle-down:active .after-2 {
    display: none;
}

.features-3:active button {
    rotate: 180deg;
}

.features-3:active .after-3 {
    display: block;
}

.fa-angle-down:active .after-3 {
    display: none;
}


/* FOOTER */
footer {
    background-color: black;
    width: 100%;
    /* debug */
    height: 335px;   
}

.footer-top {
    width: 100%;
    /* debug */
    height: 260px;
    background-color: rgb(134, 212, 138);
    border-color: white;
}

.footer-top .col {
    width: 19%;
    /* debug */
    background-color: rgb(202, 241, 228);
}

.footer-bottom {
    width: 100%;
    /* debug */
    height: 65px;
    background-color: rgb(212, 134, 199);
    margin-top: 10px;
    border-color: white;
}
